
<!doctype html>
<html>
    <head>  
        <title>full doc</title>
		<link rel="stylesheet" href="../styles/bootstrap.css">
		<link rel="stylesheet" href="../styles/main.css">
    </head>

    <body>
		<div class="container-fluid">
			<div class="loginBox col-md-4 col-md-offset-4 col-sm-12">
				<div class="leftBox col-md-6 col-sm-12">
					HelloHelloHelloHello
					HelloHelloHelloHello
					HelloHelloHelloHello
				</div>
				<div class="rightBox col-md-6 col-sm-12">
					Siddhant
				</div>
			</div>
		</div>
			


















		<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../scripts/bootstrap.js"></script>
		<script src="../scripts/main.js"></script>
    </body>

</html>



