
<!doctype html>
<html>
    <head>  
        <title>full doc</title>
		<link rel="stylesheet" href="../styles/bootstrap.css">
		<link rel="stylesheet" href="../styles/main.css">
    </head>

    <body>
		<div class="container-fluid">

			<div class="row">
				<div class="col-sm-4 col-sm-offset-4 col-xs-12 loginBox">
				
					<div class="row">
						<div class="col-xs-12">
							Siddhant
						</div>
					</div>
					
					<div class="row">
						<div class="leftBox col-sm-6 col-xs-12">
							HelloHelloHelloHello
							HelloHelloHelloHello
							HelloHelloHelloHello
						</div>
						<div class="rightBox col-sm-6 col-xs-12">
							Siddhant
						</div>
					</div>
				</div>
			</div>

		</div>
			


















		<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../scripts/bootstrap.js"></script>
		<script src="../scripts/main.js"></script>
    </body>

</html>



