<div class="container-fluid homePage">

    <div ng-include="'../views/navbar.html'" class="col-xs-12">
        NAVBAR
    </div>
    

    <div class="row">
        <div ng-include src="'../views/leftPane.html'" class="col-xs-3">
        </div>
        <div class="col-xs-5 col-xs-offset-1" style="background-color: yellow; top: 50px">
            <div class="row" ng-repeat="feed in feeds">
                <div class="FeedBox" style="padding: 3%; border: solid;">
                    <div class="row">
                        <div class="ImageThumbnail col-xs-3">
                            Image
                        </div>
                        <div class="NameAndTime col-xs-9">
                            <div class="row">
                                Siddhant
                            </div>
                            <div class="row">
                                posted 5mins ago
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	My post here
                    </div>
                    <div class="row Buttons-LCS">
                    	<div class="col-xs-6">
                    		<div class="col-xs-4">
                    			<a>like</a>
                    		</div>
                    		<div class="col-xs-4">
                    			<a>comment</a>
                    		</div>
                    		<div class="col-xs-4">
                    			<a>share</a>
                    		</div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include src="'../views/chatPane.html'" class="col-xs-3"></div>
    </div>
</div>
