<div class="container-fluid homePage">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 col-xs-12 loginBox">
            <div class="row loginHeader">
                <div class="col-xs-12 loginHeaderText">
                    <h4>{{title}}</h4>
                </div>
            </div>
            <div class="row loginForm">
                <div class="leftBox col-sm-6 col-xs-12">
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-default">Submit
                        </button>
                    </form>
                </div>
                <div class="rightBox col-sm-6 col-xs-12">
                    <a class="btn btn-block btn-social btn-twitter">
                        <span class="fa fa-twitter"></span> Sign in with Twitter
                    </a>
                    <a class="btn btn-block btn-social btn-google">
                        <span class="fa fa-google"></span> Sign in with Google
                    </a>
                    <a class="btn btn-block btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> Sign in with Facebook
                    </a>
                    <ul>
                        <li ng-repeat="l in list">{{ l }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
